.row-height {
    height: 95vh;     
}
.login-button{
    width: 100%;
    background-color: #3c8dbc;
    border-color: #367fa9;
    border-radius: 1px;
}
mat-card{
    width: 300px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.login-text{
    color: #666;
    font-size: 14px;
    
}